.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 80px;
  height: 80px;
}

.nav-items > ul {
  list-style: none;
  display: flex;
  gap: 40px; /* spacing between links */
  margin: 0;
  padding: 30px 20px;
}

.res-card {
  width: 200px;
  padding: 5px;
  margin: 5px;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}
.search {
  padding: 10px;
}

.res-logo {
  height: 180px;
  width: 200px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}
